@import "tailwindcss";

@theme {
  --color-blue-200: #1F2124;
  --color-orange-500: #F28705;
  --font--Inter-Medium: "Inter Medium";
  --font--Inter-Regular: "Inter Regular"
  --font--Inter-Light: "Inter Light"
}


@font-face {
    font-family: "Inter Medium";
    font-size: normal;
    font-weight: 400 70;
    font-display: swap;
    src: url("./assets/fonts/inter/Inter-Medium.otf") format("woff2");
}

@font-face {
    font-family: "Inter Regular";
    font-size: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url("./assets/fonts/inter/Inter-Regular.otf") format("woff2");
}

@font-face {
    font-family: "Inter Light";
    font-size: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url("./assets/fonts/inter/Inter-LightItalic-BETA.otf") format("woff2");
}

body{
    font-family: "Inter Regular";
}