<IfModule mod_rewrite.c>
  Options -MultiViews
  RewriteEngine On
  RewriteBase /
  
  # Esta línea nueva conecta a Google con tu archivo PHP
  RewriteRule ^sitemap\.xml$ sitemap.php [L]
  
  RewriteRule ^webfinal/(.*)$ /$1 [R=301,L]
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>